{{#if newAnswer}}
<form class='edit-form'>
  <div class='form-group'>
    <label>Enter Name:</label>
    {{input value=user id='user' class='form-control'}}
  </div>
  <div class='form-group'>
    <label>Enter Content:</label>
    {{textarea cols="80" rows="8" value=content id='content' class='form-control'}}
  </div>
  <button class='btn btn-danger' {{action 'hideAnswerForm'}}>Cancel</button>
  <button class='btn btn-primary' {{action "saveAnswer"}}>Save</button>
</form>
{{else}}
<button class='btn btn-success line-up' {{action 'showAnswerForm'}}>Add Answer</button>
{{/if}}
